@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
  font-family: smilingcat;
  text-align: center;
  color: var(--blauw);
}

h1 {
  font-size: 3rem;
}

.start-game {
  background-color: rgba(255, 255, 255, .75);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.end-game {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, .5);
  z-index: 3;
}

.end-buttons {
  display: flex;
  justify-content: space-around;
  width: 40rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  z-index: 3;
}

.title-game {
  font-family: smilingcat;
  font-size: 8rem;
  text-transform: uppercase;
  padding-top: 20rem;
}

.title-end {
  font-size: 8rem;
  padding-top: 12rem;
}

.explanation-game {
  font-size: 2.7rem;
  margin-top: 3rem;
}

.explanation-end {
  font-size: 3rem;
  margin-top: 3rem;
}

.start-button {
  margin-top: 5rem;
  border: var(--blauw);
  border-radius: 1.5rem;
  background-color: var(--blauw);
  color: white;
  width: 18rem;
  height: 5.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: smilingcat;
  outline: 0;
}

.replay-button {
  border: var(--blauw);
  border-radius: 1.5rem;
  background-color: var(--blauw);
  color: white;
  width: 18rem;
  height: 5.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: smilingcat;
  margin: 0 auto;
  margin-top: 5rem;
  outline: 0;
}

.playsong-button {
  border: #1ab415;
  border-radius: 1.5rem;
  background-color: #1ab415;
  color: white;
  width: 18rem;
  height: 5.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: smilingcat;
  margin: 0 auto;
  margin-top: 5rem;
  outline: 0;
}

.start-button:hover {
  outline: 0;
  background-color: white;
  color: var(--blauw);
}

.replay-button:hover {
  outline: 0;
  background-color: white;
  color: var(--blauw);
}

.playsong-button:hover {
  outline: 0;
  background-color: white;
  color: #1ab415;
}

.not-active {
  background-color: white;
}

.active {
  background-color: #f2e85c;
  color: white;

}

.counter {
  font-size: 5rem;
  padding-top: 1rem;
  font-family: acids;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
